*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img-fluid
{
    width: 100%;
    height: auto;
    border-radius: 250px;
}
.custom-toggler .navbar-toggler-icon
{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.custom-image
{
    max-width: 80%; 
    max-height: 300px;
}
